{# templates/actor/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Actor {{ actors.id }}{% endblock %}

{% block body %}
<div class="media">


  <div class="media-body">
    <h1 class="mt-0">{{ actor.firstname }}  Details</h1>
    {% for program in programs %}
      <p>{{program.id}} -  <a href="{{ path('program_show', { program: program.id }) }}">{{ program.title }} </a> 
      </p>
      <p>{{program.summary}}</p>
      
    {% endfor %}

  </div>

</div>

<a href="{{ path('category_index') }}">
    Back
</a>

{% endblock %}
