{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
<h1>Episode</h1>

<table class="table">
    <tbody>
        <th>Number -> {{ episode.number }} : {{ episode.title }}</th>

        <tr>
            <th>Synopsis</th>
            <td>{{ episode.synopsis }}</td>
        </tr>

    </tbody>
</table>

{% for comment in episode.comments %}
<div> Rate : {{comment.rate }}
    <ul>{{comment.id }} -> {{comment.comment}}</ul>
</div>
{% endfor %}

<a href="{{ path('episode_index') }}">back to list</a>
<a href="{{ path('episode_edit', {'id': episode.id}) }}">edit</a>

{# Comment the episode only for a logged in user #}
{% if app.user %}
<a href="{{ path('comment_new',{'episode': episode.id} )}}">add comment</a>
{% endif %}


{{ include('episode/_delete_form.html.twig') }}
{% endblock %}